@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/block-background/block-background.css);
@import url(../blocks/promo/promo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/intro/intro.css);

body{
  margin: 0 auto;
}

/*{
  border: 1px solid red;
  box-sizing: border-box;

}*/